services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: tai_java_backend:latest  # 로컬: 빌드 후 이미지 저장 / 서버: 미리 빌드된 이미지 사용
    container_name: spring-boot-app
    ports:
      - "${APP_PORT}:8080"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
#    networks:
#      - app-network

  postgres:
    image: postgres:15-alpine
    container_name: postgres-db
    ports:
      - "${DB_PORT}:5432"
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
#    networks:
#      - app-network

volumes:
  postgres-data:

#networks:
#  app-network:
